body {
  background: rgb(216, 216, 216);
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}

main {
  background-color: white;
  width: 800px;
  padding: 20px;
}

#tree {
  margin: 0 auto;
  width: 680px;
  height: 500px;
  background: url("../images/tree.png") 0 0 no-repeat;
  margin-bottom: 40px;
}

#apples {
  background: transparent url("../images/apples.png") 0 0 no-repeat;
  display: block;
  width: 374px;
  height: 322px;
  margin: 0 auto;
  margin-top: 20px;
}

#apples.guess_1 { background-position: 0 -322px; }
#apples.guess_2 { background-position: 0 -644px; }
#apples.guess_3 { background-position: 0 -966px; }
#apples.guess_4 { background-position: 0 -1288px; }
#apples.guess_5 { background-position: 0 -1610px; }
#apples.guess_6 { display: none; }

#spaces {
  margin: 0 0 40px 0;
}

h2 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

span {
  display: inline-block;
  border-bottom: 3px solid black;
  width: 35px;
  height: 30px;
  margin: 0 5px;
  vertical-align: bottom;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}

.hide {
  margin-top: 20px;
  display: none;
}

.show {
  display: block;
}

p {
  font-size: 18px;
}